<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciyocloud.itam.mapper.AssetRequestsMapper">

    <select id="selectPageVo" resultType="com.ciyocloud.itam.vo.AssetRequestsVO">
        SELECT
            r.*,
            u_curr.nick_name AS userName,
            u_appr.nick_name AS approverName,
            c.name AS categoryName
        FROM itam_asset_requests r
        LEFT JOIN sys_user u_curr ON r.user_id = u_curr.id
        LEFT JOIN sys_user u_appr ON r.approver_id = u_appr.id
        LEFT JOIN itam_categories c ON r.category_id = c.id
        ${ew.customSqlSegment}
    </select>

</mapper>
