<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciyocloud.itam.mapper.DeviceMapper">


    <select id="selectPageVo" resultType="com.ciyocloud.itam.vo.DeviceVO">
        SELECT
            t1.*,
            t2.name AS modelName,
            t3.name AS supplierName,
            t4.name AS locationName,
            t5.name AS depreciationName,
            u.nick_name AS assignedToName
        FROM itam_device t1
        LEFT JOIN itam_models t2 ON t1.model_id = t2.id
        LEFT JOIN itam_suppliers t3 ON t1.supplier_id = t3.id
        LEFT JOIN itam_locations t4 ON t1.location_id = t4.id
        LEFT JOIN itam_depreciations t5 ON t1.depreciation_id = t5.id
        LEFT JOIN sys_user u ON t1.assigned_to = u.id
        ${ew.customSqlSegment}
    </select>

    <select id="selectListVo" resultType="com.ciyocloud.itam.vo.DeviceVO">
        SELECT
            t1.*,
            t2.name AS modelName,
            t3.name AS supplierName,
            t4.name AS locationName,
            t5.name AS depreciationName,
            u.nick_name AS assignedToName
        FROM itam_device t1
        LEFT JOIN itam_models t2 ON t1.model_id = t2.id
        LEFT JOIN itam_suppliers t3 ON t1.supplier_id = t3.id
        LEFT JOIN itam_locations t4 ON t1.location_id = t4.id
        LEFT JOIN itam_depreciations t5 ON t1.depreciation_id = t5.id
        LEFT JOIN sys_user u ON t1.assigned_to = u.id
        ${ew.customSqlSegment}
    </select>
</mapper>
