<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciyocloud.itam.mapper.StocktakesMapper">

 

    <select id="selectPageVo" resultType="com.ciyocloud.itam.vo.StocktakesVO">
        SELECT
            t1.*,
            t2.name AS locationName,
            t3.name AS categoryName,
            t4.nick_name AS managerName
        FROM itam_stocktakes t1
        LEFT JOIN itam_locations t2 ON t1.location_id = t2.id
        LEFT JOIN itam_categories t3 ON t1.category_id = t3.id
        LEFT JOIN sys_user t4 ON t1.manager_id = t4.user_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectListVo" resultType="com.ciyocloud.itam.vo.StocktakesVO">
        SELECT
        t1.*,
        t2.name AS locationName,
        t3.name AS categoryName,
        t4.nick_name AS managerName
        FROM itam_stocktakes t1
        LEFT JOIN itam_locations t2 ON t1.location_id = t2.id
        LEFT JOIN itam_categories t3 ON t1.category_id = t3.id
        LEFT JOIN sys_user t4 ON t1.manager_id = t4.user_id
        ${ew.customSqlSegment}
    </select>
</mapper>
