spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/ciyo-crm;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE;MODE=MySQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: sa
    password:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DatebookHikariCP
      max-lifetime: 1800000
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always
  redis:
    database: 0
    host: localhost
    port: 6389
    password:
  # H2数据库控制台配置
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
        trace: false
