spring:
  application:
    name: ciyo-itasset
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: prod
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    #设置空如何序列化
    defaultPropertyInclusion: always
    serialization:
      # 格式化输出
      indent_output: false
      # 忽略无法转换的对象
      fail_on_empty_beans: false
    deserialization:
      #允许对象忽略json中不存在的属性
      fail_on_unknown_properties: false
  servlet:
    multipart:
      max-file-size: 10000MB
      max-request-size: 10000MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
    encoding: UTF-8


server:
  port: 8088
  servlet:
    context-path: /
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml
    min-response-size: 1024


# 日志级别
logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: debug
    org.springframework.web.socket: debug
    com.ciyocloud: debug

mybatis-plus:
  type-aliases-package: com.ciyocloud.*.entity
  mapper-locations: classpath*:mapper/**/*.xml
  # 原生配置
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
    map-underscore-to-camel-case: true
    cache-enabled: false
    jdbc-type-for-null: varchar

############## Sa-Token 配置 ##############
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: Authorization
  # token 有效期（单位：秒）默认120分钟，-1 代表永久有效
  timeout: 7200
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  active-timeout: -1
  # 是否允许同一账号多地同时登录（为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token（为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  is-share: false
  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  token-style: uuid
  # 是否输出操作日志
  is-log: false

# 表单数据存储到哪里
platform:
  gen: #代码生成是否启用
    enabled: true
  # 后端 API 统一前缀
  # 为什么不使用 server.servlet.context-path？
  # 因为 context-path 会全局修改所有路径（包括静态资源、Swagger等），导致前端 index.html 也会被挂载到 /api 下，
  # 使得访问 http://localhost:8088/ 无法直接加载前端页面。
  # 使用此配置仅给 RestController 添加前缀，实现前端(/)与后端(/api)的完美分离。
  api-prefix: /api

#验证码配置
aj:
  captcha:
    enable: false # 滑动验证码开关
    water-mark: # 图形验证码水印
    cache-type: redis

### 接口文档配置
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.ciyocloud
## 接口文档增强配置
knife4j:
  enable: true
  setting:
    language: zh_cn
    swagger-model-name: 实体类列表

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes:
  # 富文本链接
  rich-text-urls:
    - /sys/msg/template
    - /sys/announce
  # 匹配链接
  url-patterns: /system/*,/monitor/*,/tool/*,/form/*,/user/form/*



